server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://postgres-auth:5432/authdb
    username: authuser
    password: authpass
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
  kafka:
    bootstrap-servers: kafka:29092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    properties:
      spring.json.trusted.packages: "*"

jwt:
  secret: "supersecretkeyforjwtinjobexchange"
  expiration: 3600000 # 1 ???
