server:
  port: 8081

spring:
  spring:
    kafka:
      bootstrap-servers: localhost:9092
      producer:
        key-serializer: org.apache.kafka.common.serialization.StringSerializer
        value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
        properties:
          spring.json.add.type.headers: false
  topics:
    user-registration: user-registration

clients:
  user-service:
    url: http://auth-service:8082

jwt:
  secret: "supersecretkeyforjwtinjobexchange"
  expiration: 3600000
